<div class="container-fluid">
    <div class="" ng-show="cartItems.length">
        <table class="table">
            <thead>
                <tr>
                    <td>ITEM</td>
                    <td>NAME</td>
                    <td>QUANTITY</td>
                    <td>PRICE</td>
                    <td>SUBTOTAL</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cartItems" class="margin-top">
                    <td><img ng-src="{{item.imageUrl}}" height="50" width="50"></td>
                    <td>
                        <span>{{item.name}}</span>
                        <p ng-click="removeItem(item.id,$index)" class="clickable">
                            <img src="assets/images/delete.png" height="25" width="25"> Remove
                        </p>
                    </td>
                    <td>
                        <input type="text" class="form-control flat-text-box cart-drop-down" ng-model="item.quantity" ng-keyup="reCalculateTotalPrice()">
                    </td>
                    <td> {{item.price| currency:'&#8360'}}
                    </td>
                    <td>
                        {{(item.price* item.quantity)| currency:'&#8360'}}
                    </td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td>Estimated Total: {{totalCartPrice| currency:'&#8360'}}</td>
                </tr>
            </tbody>
        </table>
        <div class="margin-top pull-right">
            <div class="margin-right display-inline"><a href="#/index" class="btn btn-success regular-button">CheckOut</a></div>
            <div class="display-inline"><a href="#/index" class="btn btn-success regular-button">Cancel</a></div>
        </div>
    </div>


    <div class="no-cart-items" ng-hide="cartItems.length">
        <div class="alert alert-info">
            You have no item in your cart.

        </div>
    </div>

</div>
