<div class="container-fluid">
    <table class="table" ng-show="cartItems.length">
        <thead>
            <tr>
                <td>ITEM</td>
                <td>NAME</td>
                <td>QUANTITY</td>
                <td>PRICE</td>
                <td>SUBTOTAL</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in cartItems" class="margin-top">
                <td><img ng-src="{{item.imageUrl}}" height="50" width="50"></td>
                <td>
                    <span>{{item.name}}</span>
                    <p ng-click="removeItem(item.id,$index)" class="clickable">
                        <img src="assets/images/delete.png" height="25" width="25"> Remove
                    </p>
                </td>
                <td>
                    <input type="text" class="form-control flat-text-box cart-drop-down" ng-model="item.quantity" ng-keyup="reCalculateTotalPrice()">
                </td>
                <td> {{item.price| currency:'&#8360'}}
                </td>
                <td>
                    {{(item.price* item.quantity)| currency:'&#8360'}}
                </td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td>Estimated Total: {{totalCartPrice| currency:'&#8360'}}</td>
            </tr>
        </tbody>
    </table>

    <div class="alert alert-info" ng-hide="cartItems.length">
        You have no item in your cart.

    </div>
    <div class="margin-top">
        <a href="#/index" class="btn btn-success pull-right">Home</a>
    </div>
</div>
